
  <%= form_with(model: lecture) do |form| %>
    <% if lecture.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

        <ul>
          <% lecture.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <br>
    <div class="field">
      <%= form.label :Lecture_name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :classroom_number %>
      <%= form.number_field :classroom_number %>
    </div>

    <div class="field">
      <%= form.label :lecture__id_id %>
      <%= form.number_field :id %>
    </div>

    <div class="field">
      <%= form.label :created_by %>
      <%= current_user.email %>

    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    <br>
<% end %>
 

  

