<div class="container" style="margin-top: 10px">

  <h1> Lecture </h1>
  <br>
  <p>
    <strong>Lecture name: </strong>
    <%= @lecture.name %>
  </p>

  <p>
    <strong>Classroom number </strong>
    <%= @lecture.classroom_number %>
  </p>

  <p>
    <strong>Lecture ID </strong>
    <%= @lecture.id %>
  </p>

  <p>
    <strong>Duration </strong>
    <%= @lecture.duration %>
  </p>

  <br>
  <br>




  <%= link_to 'Edit', edit_lecture_path(@lecture) %> |
  <%= link_to 'Back', lectures_path %>

</div>