<%= form_with(model: [@lecture, attendance], local: true) do |form| %>


  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lecture_name %>
    <%= form.text_field :lecture_name,value: @lecture.name, disabled: true %>
    <%= form.hidden_field :lecture_id,value: @lecture.id %>
  </div>

  <div class="field">
    <%= form.label :student_name %>
    <%= form.text_field :student_name %>
    # select :student_id, options_from_collection_for_select(Student.all, 'id', 'student_name') %>
 
  </div>

  <div class="field">
    <%= form.label :classroom_number %>
    <%= form.number_field :classroom_number %>
  </div>

  <div class="field">
    <%= form.label :student_id_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
