<%= link_to "Attendances", lecture_attendances_path(@lecture), method: :get  %>

<div class="container" style="margin-top: 10px">

  <h1> Attendance Log </h1>
  <br>
  <p>
    <strong>Student name: </strong>
    <%= @attendance.student.student_name %>
  </p>

  <p>
    <strong>Student ID: </strong>
    <%= @attendance.student_id %>
  </p>

  <p>
    <strong>Number of Tardiness: </strong>
    <%= "Feature coming soon" %>
  </p>
  
  <br>
  <br>




  <%= link_to 'Edit', edit_lecture_attendance_path(@lecture,@attendance) %> |
  <%= link_to 'Back', lecture_attendance_path(@lecture,@attendance) %>

</div>
